body {
    margin: 2% auto;
    max-width: 800px;
    padding: 2%;
}

p {
    text-align: justify;
}

p.centered { 
    text-align: center;
}

header {
    text-align: center;
}

footer {
    text-align: center;
}

h2, h3 {
    text-align: center;
}

.figure-containers {
    display: block;
    margin: auto;
}

figcaption {
    font-size: small;
    font-style: italic;
    text-align: center;
}

img {
    max-width:100%;
    height: auto;
    margin: auto;
    display: block;
}